
.userphoto img{
  height: 100px;
  width: 80px;
}

.userphoto {
  float: left;
}

.review-text{
  float:right;
  height: 100px;
  width: 75%;
  margin-left: 20px;
}

.review{
  height: 130px;
}

.review-text h4{
  margin-top:0px;
}
